[package]
name = "fantoch"
version = "0.1.0"
edition = "2018"

authors = ["Vitor Enes <vitorenesduarte@gmail.com>"]
license = "MIT/Apache-2.0"

[features]
default = []
amortize = ["griddle"]
prof = []
max_level_debug = []
max_level_trace = []

[dependencies]
ahash = "0.6.2"
bincode = "1.3.1"
bytes = "0.6.0"
color-eyre = "0.5.10"
dashmap = { git = "https://github.com/vitorenesduarte/dashmap", rev = "82deaa28771f225d3969b451fee30a3b9047514b" }
flate2 = "1.0.19"
futures = { version = "0.3.8", default-features = false, features = ["alloc"] }
griddle = { version = "0.4.1", features = ["serde"], optional = true }
hashbrown = { version = "0.9.1", features = ["serde"] }
parking_lot = "0.11.1"
num_cpus = "1.13.0"
rand = "0.7.3"
serde = { version = "1.0.118", features = ["derive"] }
threshold = "0.8.15"
tokio = { version = "0.3.6", features = ["full", "parking_lot"] }
tokio-util = { version = "0.5.1", features = ["codec"] }
tracing = "0.1.22"
tracing-appender = "0.1.1"
tracing-subscriber = "0.2.15"
zipf = "6.1.0"

fantoch_prof = { path = "../fantoch_prof" }
