[package]
name = "fantoch_plot"
version = "0.1.0"
edition = "2018"

authors = ["Vitor Enes <vitorenesduarte@gmail.com>"]
license = "MIT/Apache-2.0"

[dependencies]
pyo3 = "0.11.1"
color-eyre = "0.5.0"
csv = "1.1.3"
rayon = "1.3.1"
serde = "1.0.114"

fantoch = { path = "../fantoch" }
fantoch_exp = { path = "../fantoch_exp", default-features = false }
